<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Delice", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Browse Listings", '#' %></li>
          <li><%= link_to "How it works", '#' %></li>
          <li><%= link_to "Our Team", '#' %></li>
          <li><%= link_to "Chef Application", '#' %></li>
          <% if session[:user_id] %>
            <li><%= link_to "Sign out", auth_destroy_path %></li>
          <% else %>
            <li><%= link_to "Sign in", "/auth/facebook/" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
